@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Great+Vibes&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(29, 188, 220) 33%,
    rgb(41, 94, 252) 64%,
    rgb(25, 13, 255) 100%
  );
  font-family: "Great Vibes";
  color: rgb(0, 0, 0);
  font-size: xx-large;
  text-decoration: none;
}

.cat {
  height: 200px;
  width: 300px;
  background-color: white;
  border: rgb(211, 211, 211) 3px dashed;
}

.other {
  height: 350px;
  width: 250px;
  background-color: red;
  border: black 3px;
  box-shadow: 10px 3px 3px;
}

.bigflex {
  display: flex;
  border: rgb(10, 212, 255) 2px solid;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex1 {
  display: flex;
  border: rgb(255, 255, 255) 2px solid;
  width: 100px;
}
.flex2 {
  display: flex;
  border: red 2px solid;
  width: 100px;
}
.flex3 {
  display: flex;
  border: rgb(114, 113, 123) 2px solid;
  width: 100px;
}
.box {
  display: flex;
  position: relative;
  background-image: linear-gradient(red (213, 27, 27) orange);
  height: 300px;
  width: 100%;
  border: black 5px solid;
}
.star {
  display: flex;
  height: 150px;
  width: 150px;
  position: relative;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background: rgb(205, 4, 4);
  color: white;
  margin: auto;
  transition: 0.3s all;
  
}
 .star_blink {
  animation: star 1s linear infinite;
 }

 @keyframes star {
  from {
    rotate: 0deg;
    opacity: 1;
  }
     
  to {
    rotate: 360deg;
    opacity: 0.5;
  }
}



.star:hover {
  scale: 1.2;
}

.light {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  position: relative;
  border-radius: 50%;
}

.light:hover {
  animation: blink 1s infinite linear;
  background: rgba(83, 119, 229, 0.566);
}

@keyframes blink {
  50% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
.calender {
  width: 70%;
  margin: 10rem auto;
  height: 70vh;
}

.week {
  display: flex;
  border: 2px solid black;
  height: 10vh;
}

.day {
  border: 2px black solid;
  height: 10vh;
  width: 14.3%;
  font-size: small;
}

.day::before {
  content: attr(day);
  display: flex;
  height: 20px;
  width: 20px;
  border: black 1px solid;
  font-size: medium;
  justify-content: center;
}
.day::after {
  content: attr(weekend);
  display: flex;
  transform: translate(60%, 30%);
  font-size: medium;
}
.day_wrapper {
  display: flex;
}
.dayname {
  border: 1px black solid;
  height: 5vh;
  width: 14.3%;
}
.dayname::before {
  content: attr(dayname);
  display: flex;
  font-size: large;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.background {
  background-image: url(/assets/photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
@media screen and (300px <= width <= 600px) {
  .day {
    height: 15vh;
    border: 2px red solid;
  }

  .week {
    height: 15vh;
  }

  .calender {
    width: 95%;
    background-color: chartreuse;
  }
}
